*{
    padding:0; margin:0;
    box-sizing: border-box;
}

            /* Samme skrifttype og farve til al tekst i dokumentet*/

body {
    font-family: arial, helvetica, sans-serif;
    color: white; 
}

            /* Billeder og video propotioner */

img {
    width: 100%;
    height: 100%;
    display: block;
}

video {
    width: 100%;
    display: block;
}

            /* Almen tekst */

p {
    text-align: center;   
    font-size: 1.1rem; 
    word-break: normal; 
    z-index: 1; 
    text-transform: uppercase;
}

            /* Teksten øverst på siden */

h1 {
    font-size: 4.8rem;
    padding-left: 2%;
}

h2 {
    font-size: 3.2rem; 
    padding-left: 2%;

}

            /* øverste billede */

.top { 
    position: absolute;  
    z-index: 1; 
    width: 100%; 
    word-break: normal; 
    color: white; 
    top: 2%;
} 

            /* Animation til logo på billede 2 */

@keyframes logo {
        from { 
            width: 2%; 
            margin: 40% 45%;
        }
        to {
            width: 60%;
            margin: 20% 20%; 
        }
}

.topEt {
    position: absolute;
    z-index: 1; 
    width: 60%; 
    margin: 20% 20%;
    animation-name: logo; 
    animation-duration: 5s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite;
}
 
            /* Standard size til tekstboblerne  */ 

.boble, .bobleEt, .bobleTo, .bobleTre, .bobleFire, .bobleFem {
    position: absolute; 
    z-index: 1;
    border-radius: 100%;
    background-color: rgba(255, 250, 240, 0.5);
    width: 350px; 
    height: 350px;
}



            /* Tekstboblerne ovenpå endelige/Thomas videoerne midten til højre */
.boble {
    padding: 100px 40px 40px; 
    margin: 10% 0% 0% 70%;
    width: 300px;
    height: 300px;
    transition: transform .2s;
}

.boble:hover {
    transform: scale(1.2);
}

            /* Tekstboble øverst til højre over billeder*/

.bobleEt {
    margin: 2% 0% 4% 50%;
    padding: 64px 37px 20px;
    transition: transform .2s;
}

.bobleEt:hover {
    transform: scale(1.2); 
}

            /* Tekstboble nederst venstre hjørne */

.bobleTo {
    margin: 25% 2%;
    padding: 69px 31px;
    transition: transform .2s;
}

.bobleTo:hover {
    transform: scale(1.2); 
}

            /* Tekstboble nederst højre hjørne */

.bobleTre {
    margin: 25% 0% 0% 65%; 
    padding: 60px 35px 20px;
    transition: transform .2s;
}

.bobleTre:hover {
    transform: scale(1.2); 
}

            /* Tekstboble øverst venstre hjørne */

.bobleFire {
    margin: 2% 1%;
    padding: 70px 35px;
    transition: transform .2s;
}

.bobleFire:hover {
    transform: scale(1.2); 
}

            /* Tekstboble midt venstre */

.bobleFem {
    margin: 15% 2%;
    padding: 70px 35px;
    transition: transform .2s;
}

.bobleFem:hover {
    transform: scale(1.2); 
}
 


            /* Overlayet der kommer frem når man trykker på knappen */

#overlay1, #overlay2, #overlay3, #overlay4, #overlay5 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 250, 240, 0.7);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: black;
    transform: translate(-50%,-50%);
    font-size: 2.2rem;
}

            /* Knappernes layout og design */

button {
    z-index: 5;
    text-align: center; 
    width: 100%; 
    border: 0;
    background-color: rgba(255, 250, 240, 0.0);
    cursor: pointer;
    font-size: 1.3rem; 
    color: white;
    font-weight: bold;
    transition: transform .5s;
}

button:hover {
    transform: scale(1.2);
}




